.title {
    font-family: 'Lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    /*border-bottom: 4px solid var(--brightGreen);*/
    text-align: center;
    font-size: 2rem;
}

.TableTitle {
    font-family: 'Late', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}