.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    border-bottom: 4px solid #367C2B;
}

.center {
    text-align: center;
}