.header {
    margin: 10px;
}

.heading {
    font-family: Capriola;
    text-transform: uppercase;
    float: right;
    border-bottom: 2px solid var(--brightGreen);
    padding-right: 10px;
    text-align: right;
}