.header {
    margin: 10px;
    display: flex;
}

.heading {
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    /*border-bottom: 2px solid var(--brightGreen);*/
    padding-left: 100px;
}

.heading h1, .heading h2 {
    font-family: 'Lato';
    font-weight: 900;
}

.left, .right {
    flex: 1;
}

.right {
    text-align: right;
}