:root {
    --green: #5A685C;
    --redOrange: #FF5224;
    --yellow: #F1A00F;
    --dustyPurple: #9490A4;
    --blue: #4C86A0;
    --brown: #7D4016;
    --lightBlue: #C4CFDA;
    --brightGreen: #83C336;
    --oldGreen: #335a42;
    --innerContainer: #f7fafc;
}

body {
    margin: 5px;
    position: relative;
    min-width: 300px;
    font-family: Lato;
}

.div {
    width: 100%;
}

@font-face {
    font-family: 'Capriola';
    src: local('Capriola'), url(../pages/fonts/Capriola-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(../pages/fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: local('Lato'), url(../pages/fonts/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(../pages/fonts/Lato-Black.ttf) format('truetype');
}

.button {
    margin-right: 5px;
    background-color: var(--redOrange);
    transition: background-color .2s ease;
    color: white;
    border-radius: 0.5rem;
    padding: 5px 5px;
    min-width: 30px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: var(--yellow);
}
/* Changes for CSS Grid tables */
.commodity1 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 175px 3fr 2fr 3fr;
}

.commodity1 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.commodity1 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.commodity1 > [class*="Table_totalRow"] > div {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.commodity2 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr;
}

.commodity2 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr;
}