:root {
    --green: #5A685C;
    --redOrange: #FF5224;
    --yellow: #F1A00F;
    --dustyPurple: #9490A4;
    --blue: #4C86A0;
    --brown: #7D4016;
    --lightBlue: #C4CFDA;
    --brightGreen: #83C336;
    --oldGreen: #335a42;
    --innerContainer: #f7fafc;
}

body {
    margin: 5px;
    position: relative;
    min-width: 300px;
    font-family: Lato;
}

.div {
    width: 100%;
}

@font-face {
    font-family: 'Capriola';
    src: local('Capriola'), url(../pages/fonts/Capriola-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(../pages/fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: local('Lato'), url(../pages/fonts/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(../pages/fonts/Lato-Black.ttf) format('truetype');
}

.button {
    margin-right: 5px;
    background-color: var(--redOrange);
    transition: background-color .2s ease;
    color: white;
    border-radius: 0.5rem;
    padding: 5px 5px;
    min-width: 30px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: var(--yellow);
}

/* PDP Commodity rules */
.commodity1 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 175px 3fr 2fr 3fr;
}

.commodity1 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.commodity1 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.commodity1 > [class*="Table_totalRow"] > div {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* PDP Commodity rules */
.commodity2 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr;
}

.commodity2 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr;
}
/* PDP Pesticide rules */
.pdppesticide1 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 140px 3fr 2fr 3fr;
}

.pdppesticide1 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 140px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pdppesticide1 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 140px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* PDP Conventional rules */
.pdpconventional1 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.pdpconventional1 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pdpconventional1 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* PDP Conventional rules */
.pdpconventional2 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.pdpconventional2 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pdpconventional2 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* PDP Conventional rules */
.pdpconventional3 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pdpconventional3 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* PDP Conventional rules */
.pdpconventional4 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.pdpconventional4 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 180px 1fr 1fr 1fr 1fr 1fr;
}

.pdpconventional4 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 180px 1fr 1fr 1fr 1fr 1fr;
}

/* PDP Domestic rules */
.pdpdomestic1 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.pdpdomestic1 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pdpdomestic1 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* PDP Domestic rules */
.pdpdomestic2 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.pdpdomestic2 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pdpdomestic2 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* PDP Domestic rules */
.pdpdomestic3 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.pdpdomestic3 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pdpdomestic3 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* PDP Individual rules */
.pdpindividual1 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pdpindividual1 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* PDP Individual rules */
.pdpindividual2 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 180px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pdpindividual2 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 180px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* PDP Aggregate rules */
.pdpaggregate1 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pdpaggregate1 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* PDP Aggregate rules */
.pdpaggregate2 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 200px 140px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pdpaggregate2 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 200px 140px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* FSA Food rules */
.fsafood1 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 175px 3fr 2fr 3fr;
}

.fsafood1 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fsafood1 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fsafood1 > [class*="Table_totalRow"] > div {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* FSA Food rules */
.fsafood2 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr;
}

.fsafood2 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 1fr;
}

/* FSA Pesticide rules */
.fsapesticide1 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 280px 3fr 2fr 3fr;
}

.fsapesticide1 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 140px 140px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fsapesticide1 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 140px 140px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* FSA Conventional rules */
.fsaconventional1 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.fsaconventional1 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fsaconventional1 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* FSA Conventional rules */
.fsaconventional2 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.fsaconventional2 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fsaconventional2 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* FSA Conventional rules */
.fsaconventional3 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fsaconventional3 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* FSA Conventional rules */
.fsaconventional4 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.fsaconventional4 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 180px 1fr 1fr 1fr 1fr 1fr;
}

.fsaconventional4 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 180px 1fr 1fr 1fr 1fr 1fr;
}

/* FSA Domestic rules */
.fsadomestic1 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.fsadomestic1 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fsadomestic1 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* FSA Domestic rules */
.fsadomestic2 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.fsadomestic2 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fsadomestic2 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* FSA Domestic rules */
.fsadomestic3 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.fsadomestic3 > [class*="Table_tableHead"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fsadomestic3 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* FSA Individual rules */
.fsaindividual1 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fsaindividual1 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* FSA Individual rules */
.fsaindividual2 > [class*="Table_tableHead"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 180px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fsaindividual2 > div[role=rowgroup] > div {
    display: grid;
    grid-template-columns: 1fr 180px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
