.container {
    padding: 15px;
    margin-top: 10px;
    background-color: #f7fafc;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 0.25rem;
}

.container p {
    display: inline;
}

.box {
    margin-top: 5px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.title {
    margin-right: .5rem;
    display: inline;
}

.link {
    color: #2e6924;
    transition: color .2s ease;
    text-decoration: none;
}

.link:hover, .link:focus {
    color: var(--brightGreen);
}

.list, .list li, .title {
    display: inline;
}

.list {
    padding-left: 0
}

.list li:not(:last-child) {
    border-right: 1px solid #000;
    margin-right: .5rem;
    padding-right: .5rem;
}