.box {
    margin-top: 5px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.title {
    margin-right: .5rem;
}

.list, .list li, .title {
    display: inline;
}

.list li:not(:last-child) {
    border-right: 1px solid #000;
    margin-right: .5rem;
    padding-right: .5rem;
}