.container {
    padding: 1px;
    margin-top: 10px;
    
}


.list {
    width: 100%;
    text-align: center;
}

.list li {
    display: inline-block;
}

.active {
    background-color: #f7fafc !important;
    color: black !important;
}

.list li a {
    background-color: var(--redOrange);
    padding: 12px;
    color: white;
    text-decoration: none;
    transition: all ease .2s;
    margin-right: 2px;
}

.list li a:hover {
    color: black;
    background-color: #f7fafc;
}
