.header-title {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.borderBottom {
  border-bottom: 2px solid black;
}

.groupHeader {
  composes: header-title;
  border: 2px solid black;
  padding: .5rem 0;
  text-align: center;
}

.columnHeader {
  composes: header-title borderBottom;
  text-align: center;
  font-size: 0.9rem;
}

.columnHeaderLeft {
  composes: columnHeader;
  border-left: 2px solid black;
}
.columnHeaderRight{
  composes: columnHeader;
  border-right: 2px solid black;
}

.table {
  background-color: white;
  min-width: 99%;
  max-width: 100%;
  border: 1px solid rgb(0, 0, 0, .1);
  padding: 0;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table thead tr:first-child {
  font-size: 20px;
  font-family: Arial;
  text-align: left;
}

.table thead tr:nth-child(n + 2) {
  border-top: 2px solid black;
}

.table thead tr:nth-child(n + 2) th {
  font-size: 0.9rem;
}
.tableHead {position: sticky;
    top: 0;
    background-color: #fff;
  padding: 0;
  border-bottom: 1px solid black;
}

.row {
  font-size: 16px;
}

.row .cell:first-child {
  text-align: left;
}

.rowOdd {
  composes: row;
  background-color: #eee;
}

.totalRow {
  background-color: #5e6a71;
  color: #FFF;
  display: flex;
  flex: 1 0 auto;
  min-width: 0px;
  padding: 3px 0;
}

.totalRow .summaryCell:first-child {
  text-align: right;
  margin-left: 2px;
}

.summaryCell {
  box-sizing: border-box;
  flex: 150 0 auto;
  min-width: 0px;
  width: 150px;
  text-align: center;
}

.cell {
  text-align: center;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

.left {
  text-align: left;
}

.red {
  background-color: rgba(255, 255, 255, 0.7);
}

.outputs {
  font-family: Arial;
  margin-bottom: 25px;
}

.download {
  background-color: var(--redOrange);
  transition: background-color .2s ease;
  color: white;
  border-radius: 0.5rem;
  padding: 5px 5px;
  min-width: 30px;
  text-align: center;
  text-decoration: none;
}

.download:hover {
  background-color: var(--yellow);
}

.pages {
  text-align: right;
  margin-bottom: 5px;
}

.pages span {
  padding: 5px;
}

.pages button {
  font-size: 1.2em;
}

.pages button a {
  color: black;
  text-decoration: none;
}

